.container.sponsores
	.row.first
		.col-xs-10.col-sm-6.col-xs-offset-4.col-sm-offset-3
			= link_to "http://www.intersport.sk/" do
				= image_tag "sponsores/intersport.png", :class => "intersport"

			= link_to "http://www.tipsport.sk/" do
				= image_tag "sponsores/tipsport.png", :class => "tip_sport"
	.row.second
		.col-xs-6.col-sm-4.col-xs-offset-3.col-sm-offset-2
			%center
				= link_to "http://www.jfmed.uniba.sk/" do
					= image_tag "sponsores/jlf.png", :class => "jlf"
		.col-xs-6.col-sm-4
			%center
				= link_to "http://www.ansa.no/Spraksider/ANSA_in_English/" do
					= image_tag "sponsores/ansa.png", :class => "ansa"

	.row.third
		.col-xs-6.col-sm-4.col-xs-offset-3.col-sm-offset-2
			%center
				= link_to "http://littera.sk/" do
					= image_tag "sponsores/littera.jpg", :class => "littera"
		.col-xs-6.col-sm-4
			%center
				= link_to "http://www.prima.sk/" do
					= image_tag "sponsores/prima.jpg", :class => "prima"