!!!
%html
	%head
		%meta{:content => "width=device-width; initial-scale=1.0", :name => "viewport"}
		%meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		%title Fondak
		= favicon_link_tag 'favicon.png'
		= stylesheet_link_tag    "application"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		.loader
			= image_tag "logo2.png", :class => "loader-logo"

		.container.hidden-xs

			%nav.navbar.navbar-fixed-top{:role => "navigation"}
				.container.title
					.normal-header-title
						Martinský Fonendoskop
				.container.header
					.navbar
						%ul.nav.nav-pills.navbar-nav
							%li.logo
								= image_tag "logo2.png"
							%li
								= link_to "Úvod", root_path
							%li
								= link_to "Diskusia", discusion_path
							%li
								= link_to "Foto", photo_path
							%li
								= link_to "História", history_path
							%li
								= link_to "Sponzori", sponsores_path
							%li
								= link_to "Kontakt", contact_path

		.header-medal
			= image_tag "medal.png", :class =>"medal"
		.header-medal-year
			.year XVIII.

		= yield

		#footer
			.container
				%p.text-muted.credit
					Designed & Developed by
					%a{"href" => "mailto:j.hadvig@gmail.com"}
						Jakub Hadvig