!!!
%html
	%head
		%meta{:content => "width=device-width; initial-scale=1.0", :name => "viewport"}
		%meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")

		%title Fondak

		= stylesheet_link_tag    "application"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body

		.container.hidden-xs

			%nav.navbar.navbar-fixed-top{:role => "navigation"}
				.container.title
					.normal-header-title
						Martinský Fonendoskop
					/ .normal-header-title.font-allan
					/ 	XVIII.
				.container.header
					.navbar
						%ul.nav.nav-pills.navbar-nav
							%li.logo
								= image_tag "logo2.png"
							%li
								= link_to "Úvod", root_path
							%li
								= link_to "Diskusia", root_path
							%li
								= link_to "Foto", root_path
							%li
								= link_to "História", root_path
							%li
								= link_to "Sponzori", root_path
							%li
								= link_to "Kontakt", root_path

		= yield

		#footer
			.container
				%p.text-muted.credit
					Designed & Developed by
					%a{"href" => "mailto:j.hadvig@gmail.com"}
						Jakub Hadvig